
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #007BFF;
  color: white;
}

header {
  background-color: #0056b3;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #0062cc; 
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

section#main-content {
  padding: 20px;
}

article h2 {
  color: #00FFFF;
}

footer {
  background-color: #0056b3;
  text-align: center;
  padding: 10px;
}

.relative{position: relative;}
.absolute{position: absolute;}
#side-bar {
  -ms-scroll-chaining: none;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 9;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  border: none;
  background-color: red;
  background-position: top, bottom, top, bottom -0.25rem left;
  background-size: 100% 3rem, 100% 3rem, 100% 1.5rem, var(--sidebar-width-on-desktop) 1.5rem;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, fixed;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile-top-bar,#side-bar{display: none;}
@media only screen and (max-width: 768px) {
    .mobile-top-bar{display: block;}
    #side-bar:target{display: block}
}

