:root{
  --side-bar-width: 10px;
  --side-bar-C-inner-W: var(--side-bar-width);
  --side-bar-C-inner-H: 220px;
  --side-bar-monochrome: 32,0,255;
  --body-monochrome: 0,123,255;
  --header-monochrome: 0,86,179;
  --nav-monochrome: 0,98,204;
  --gray-monochrome: 72, 69, 60;
  --black-monochrome: 25, 20, 16;
  --mobile-media: none;
  --compute-media: block;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--body-monochrome));
  color: white;
}

header {
  background: background: linear-gradient(rgb(var(--header-monochrome)), rgb(var(--nav-monochrome)));;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: rgb(var(--nav-monochrome)); 
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

section#main-content {
  padding: 20px;
}

article h2 {
  color: #00FFFF;
}

footer {
  background-color: rgb(var(--header-monochrome));
  text-align: center;
  padding: 10px;
}

.relative{position: relative;}
.absolute{position: absolute;}
.side-block {
  width: 50%;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  border: none;
  background-color: rgb(var(--side-bar-monochrome));
  height: var(--side-bar-height);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(var(--side-bar-width)*2);
  transition: transform 2s;
}

.close-menu{
  right: 0;
  top: 0;
  width: 50%;
  height: var(--side-bar-height);
  opacity: 0.3;
  display: none;
}

.computer-open-bar{
  background: rgba(var(--black-monochrome),0.3);
  height: var(--side-bar-height);
  top: 0;
  left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: var(--side-bar-width);
  display: var(--computer-media);
}

.computer-open-bar .center-div{
  background-color: rgb(var(--gray-monochrome));
  height: var(--side-bar-C-inner-H);
  width: var(--side-bar-C-inner-W);
  top: calc(var(--side-bar-height)/2 - var(--side-bar-C-inner-H)/2);
  left: 4px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.computer-open-bar:hover + a + div#side-bar,
div#side-bar:hover{
  display: block;
  width: 50%;
  transform: translateX(0);
}


.mobile-top-bar{
  display: var(--mobile-media);
}

#side-bar{display: none;}
@media only screen and (max-width: 768px) {
  :root{
    --mobile-media: block;
    --computer-media: none;
  }
  #side-bar:target{width: 50%;  transition: width 2s;}
}

